%html
  %head
    %title Fun with Gmaps and Placester API
  %body
    #map-canvas{ :style => 'margin: 0; padding: 0; height: 100%;'}
  %script{:type => 'text/javascript', :src => 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing'}
  %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
  %script{:type => 'text/javascript', :src => '../scripts/placester.js'}
